In [32]:
#basic librarires 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#preprocessing
from sklearn.preprocessing import LabelEncoder

#machine learning models
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.model_selection import KFold

#feature selection
from sklearn.feature_selection import RFE
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

from sklearn.linear_model import RidgeCV, LassoCV, Ridge, Lasso
#metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import r2_score
from sklearn import ensemble

In [33]:
df=pd.read_csv('MiningProcess_Flotation_Plant_Database.csv',decimal=",")

In [34]:
df.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31

In [4]:
df.shape

(737453, 24)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737453 entries, 0 to 737452
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          737453 non-null  object
 1   % Iron Feed                   737453 non-null  float64
 2   % Silica Feed                 737453 non-null  float64
 3   Starch Flow                   737453 non-null  float64
 4   Amina Flow                    737453 non-null  float64
 5   Ore Pulp Flow                 737453 non-null  float64
 6   Ore Pulp pH                   737453 non-null  float64
 7   Ore Pulp Density              737453 non-null  float64
 8   Flotation Column 01 Air Flow  737453 non-null  float64
 9   Flotation Column 02 Air Flow  737453 non-null  float64
 10  Flotation Column 03 Air Flow  737453 non-null  float64
 11  Flotation Column 04 Air Flow  737453 non-null  float64
 12  Flotation Column 05 Air Flow  737453 non-null  float64
 13  Flotation Column 06 Air Flow  737453 non-null  float64
 14  Flotation Column 07 Air Flow  737453 non-null  float64
 15  Flotation Column 01 Level     737453 non-null  float64
 16  Flotation Column 02 Level     737453 non-null  float64
 17  Flotation Column 03 Level     737453 non-null  float64
 18  Flotation Column 04 Level     737453 non-null  float64
 19  Flotation Column 05 Level     737453 non-null  float64
 20  Flotation Column 06 Level     737453 non-null  float64
 21  Flotation Column 07 Level     737453 non-null  float64
 22  % Iron Concentrate            737453 non-null  float64
 23  % Silica Concentrate          737453 non-null  float64
dtypes: float64(23), object(1)
memory usage: 135.0+ MB

In [6]:
df.describe()

,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,Flotation Column 03 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
count,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,...,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000,737453.000000
mean,56.294739,14.651716,2869.140569,488.144697,397.578372,9.767639,1.680380,280.151856,277.159965,281.082397,...,290.754856,520.244823,522.649555,531.352662,420.320973,425.251706,429.941018,421.021231,65.050068,2.326763
std,5.157744,6.807439,1215.203734,91.230534,9.699785,0.387007,0.069249,29.621288,30.149357,28.558268,...,28.670105,131.014924,128.165050,150.842164,91.794432,84.535822,89.862225,84.891491,1.118645,1.125554
min,42.740000,1.310000,0.002026,241.669000,376.249000,8.753340,1.519820,175.510000,175.156000,176.469000,...,185.962000,149.218000,210.752000,126.255000,162.201000,166.991000,155.841000,175.349000,62.050000,0.600000
25%,52.670000,8.940000,2076.320000,431.796000,394.264000,9.527360,1.647310,250.281000,250.457000,250.855000,...,256.302000,416.978000,441.883000,411.325000,356.679000,357.653000,358.497000,356.772000,64.370000,1.440000
50%,56.080000,13.850000,3018.430000,504.393000,399.249000,9.798100,1.697600,299.344000,296.223000,298.696000,...,299.011000,491.878000,495.956000,494.318000,411.974000,408.773000,424.664575,411.065000,65.210000,2.000000
75%,59.720000,19.600000,3727.730000,553.257000,402.968000,10.038000,1.728330,300.149000,300.690000,300.382000,...,301.904000,594.114000,595.464000,601.249000,485.549000,484.329000,492.684000,476.465000,65.860000,3.010000
max,65.780000,33.400000,6300.230000,739.538000,418.641000,10.808100,1.853250,373.871000,375.992000,364.346000,...,371.593000,862.274000,828.919000,886.822000,680.359000,675.644000,698.861000,659.902000,68.010000,5.530000

In [36]:
df.head()

,date,% Iron Feed,% Silica Feed,Starch Flow,Amina Flow,Ore Pulp Flow,Ore Pulp pH,Ore Pulp Density,Flotation Column 01 Air Flow,Flotation Column 02 Air Flow,...,Flotation Column 07 Air Flow,Flotation Column 01 Level,Flotation Column 02 Level,Flotation Column 03 Level,Flotation Column 04 Level,Flotation Column 05 Level,Flotation Column 06 Level,Flotation Column 07 Level,% Iron Concentrate,% Silica Concentrate
0,2017-03-10 01:00:00,55.2,16.98,3019.53,557.434,395.713,10.0664,1.74,249.214,253.235,...,250.884,457.396,432.962,424.954,443.558,502.255,446.370,523.344,66.91,1.31
1,2017-03-10 01:00:00,55.2,16.98,3024.41,563.965,397.383,10.0672,1.74,249.719,250.532,...,248.994,451.891,429.560,432.939,448.086,496.363,445.922,498.075,66.91,1.31
2,2017-03-10 01:00:00,55.2,16.98,3043.46,568.054,399.668,10.0680,1.74,249.741,247.874,...,248.071,451.240,468.927,434.610,449.688,484.411,447.826,458.567,66.91,1.31
3,2017-03-10 01:00:00,55.2,16.98,3047.36,568.665,397.939,10.0689,1.74,249.917,254.487,...,251.147,452.441,458.165,442.865,446.210,471.411,437.690,427.669,66.91,1.31
4,2017-03-10 01:00:00,55.2,16.98,3033.69,558.167,400.254,10.0697,1.74,250.203,252.136,...,248.928,452.441,452.900,450.523,453.670,462.598,443.682,425.679,66.91,1.31

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 737453 entries, 0 to 737452
Data columns (total 24 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   date                          737453 non-null  object
 1   % Iron Feed                   737453 non-null  float64
 2   % Silica Feed                 737453 non-null  float64
 3   Starch Flow                   737453 non-null  float64
 4   Amina Flow                    737453 non-null  float64
 5   Ore Pulp Flow                 737453 non-null  float64
 6   Ore Pulp pH                   737453 non-null  float64
 7   Ore Pulp Density              737453 non-null  float64
 8   Flotation Column 01 Air Flow  737453 non-null  float64
 9   Flotation Column 02 Air Flow  737453 non-null  float64
 10  Flotation Column 03 Air Flow  737453 non-null  float64
 11  Flotation Column 04 Air Flow  737453 non-null  float64
 12  Flotation Column 05 Air Flow  737453 non-null  float64
 13  Flotation Column 06 Air Flow  737453 non-null  float64
 14  Flotation Column 07 Air Flow  737453 non-null  float64
 15  Flotation Column 01 Level     737453 non-null  float64
 16  Flotation Column 02 Level     737453 non-null  float64
 17  Flotation Column 03 Level     737453 non-null  float64
 18  Flotation Column 04 Level     737453 non-null  float64
 19  Flotation Column 05 Level     737453 non-null  float64
 20  Flotation Column 06 Level     737453 non-null  float64
 21  Flotation Column 07 Level     737453 non-null  float64
 22  % Iron Concentrate            737453 non-null  float64
 23  % Silica Concentrate          737453 non-null  float64
dtypes: float64(23), object(1)
memory usage: 135.0+ MB

In [38]:
df=df.drop('date',axis=1)

In [39]:
from scipy.stats import ttest_ind
ttest_ind(df['% Iron Feed'],df['% Iron Concentrate'])

Ttest_indResult(statistic=-1424.6174702189091, pvalue=0.0)

In [40]:
from scipy.stats import ttest_ind
ttest_ind(df['Flotation Column 01 Air Flow'],df['% Iron Concentrate'])

Ttest_indResult(statistic=6231.574477190461, pvalue=0.0)

In [47]:
y=df['% Iron Concentrate']
X=df.drop(['% Iron Concentrate'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .3, random_state=1)

In [46]:
Xc = sm.add_constant(X)
lin_reg = sm.OLS(y,Xc).fit()
lin_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:     % Iron Concentrate   R-squared:                       0.140
Model:                            OLS   Adj. R-squared:                  0.140
Method:                 Least Squares   F-statistic:                     5701.
Date:                Fri, 29 May 2020   Prob (F-statistic):               0.00
Time:                        12:32:01   Log-Likelihood:            -1.0736e+06
No. Observations:              737453   AIC:                         2.147e+06
Df Residuals:                  737431   BIC:                         2.148e+06
Df Model:                          21
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                           53.2163      0.245    217.056      0.000      52.736      53.697
% Iron Feed                      0.0360      0.001     34.951      0.000       0.034       0.038
% Silica Feed                    0.0267      0.001     34.461      0.000       0.025       0.028
Starch Flow                   2.679e-05   1.12e-06     23.977      0.000    2.46e-05     2.9e-05
Amina Flow                      -0.0032   1.95e-05   -166.254      0.000      -0.003      -0.003
Ore Pulp Flow                    0.0113      0.000     81.181      0.000       0.011       0.012
Ore Pulp pH                      0.4725      0.003    138.246      0.000       0.466       0.479
Ore Pulp Density                 2.6732      0.025    108.115      0.000       2.625       2.722
Flotation Column 01 Air Flow     0.0047      0.000     33.037      0.000       0.004       0.005
Flotation Column 02 Air Flow    -0.0032   8.35e-05    -37.927      0.000      -0.003      -0.003
Flotation Column 03 Air Flow     0.0057      0.000     36.492      0.000       0.005       0.006
Flotation Column 04 Air Flow    -0.0420      0.001    -69.194      0.000      -0.043      -0.041
Flotation Column 05 Air Flow     0.0269      0.000     73.441      0.000       0.026       0.028
Flotation Column 06 Air Flow    -0.0037   8.35e-05    -43.880      0.000      -0.004      -0.004
Flotation Column 07 Air Flow     0.0014   8.72e-05     16.614      0.000       0.001       0.002
Flotation Column 01 Level       -0.0001   1.57e-05     -7.424      0.000      -0.000    -8.6e-05
Flotation Column 02 Level       -0.0001   1.45e-05     -9.399      0.000      -0.000      -0.000
Flotation Column 03 Level       -0.0004   1.25e-05    -28.045      0.000      -0.000      -0.000
Flotation Column 04 Level        0.0002   1.89e-05     11.076      0.000       0.000       0.000
Flotation Column 05 Level        0.0013   2.36e-05     53.517      0.000       0.001       0.001
Flotation Column 06 Level       -0.0004   1.81e-05    -19.659      0.000      -0.000      -0.000
Flotation Column 07 Level        0.0007   2.23e-05     30.444      0.000       0.001       0.001
==============================================================================
Omnibus:                    24735.159   Durbin-Watson:                   0.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            27324.764
Skew:                          -0.471   Prob(JB):                         0.00
Kurtosis:                       3.013   Cond. No.                     7.00e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large,  7e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [23]:
import xgboost

In [24]:
best_xgb_model = xgboost.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.07,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=100,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)
best_xgb_model.fit(X_train,y_train)

[12:23:31] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4, gamma=0,
             importance_type='gain', learning_rate=0.07, max_delta_step=0,
             max_depth=3, min_child_weight=1.5, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0.75, reg_lambda=0.45, scale_pos_weight=1, seed=42,
             silent=None, subsample=0.6, verbosity=1)

In [29]:
y_pred_train=best_xgb_model.predict(X_test)

In [30]:
from sklearn import metrics

In [31]:
print('R2 of Train: ', metrics.r2_score(y_train,y_train_pred))
print('L1 Mean absolute Error: ',metrics.mean_absolute_error(y_train,y_train_pred))
print('L2 Mean square Error: ',metrics.mean_squared_error(y_train,y_train_pred))
print('L2 RMSE: ',np.sqrt(metrics.mean_squared_error(y_train,y_train_pred)))

NameError: name 'y_train_pred' is not defined